*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

form{
  background: #2d2d2d;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
  position: absolute;
  top:20px;
  left: 20px;
}
.container{
  background: #bababa;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 280px;
  height: 350px;
}

img{
  width: 100px;
  height: 100px;
 margin: 10px auto;
 border-radius:100%;
}

input{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #3a3a3a;
  color: white;
  font-size: 16px;
  outline: none;
}

input::placeholder{
  color: #aaa;
}

#submitBtn{
  background: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

#submitBtn:hover{
  opacity: 0.8;
}
p{
  text-align: center;
}

#name{
  font-size: 22px;
}

#email{
  font-size: 20px;
}

